{% extends 'App/base.html' %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %} 
        <p style="color:green">{{message}}</p>
      {% endif %}
      {% if message.tags == 'error' %} 
        <p style="color:red">{{message}}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  <a href="{% url 'ausuario' %}" style="margin-bottom: 20px; margin-left: 20px;" class="btn btn-primary">Añadir Usuario</a>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <th scope="row">{{u.alias}}</th>
        <td>{{u.nombre}}</td>
        <td>{{u.apellido}}</td>
        <td>{{u.email}}</td>
        <td><a href="musuario/{{u.alias}}">Modificar</a> <a href="busuario/{{u.alias}}/baja">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}