{% extends 'App/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <center><h1>Burndown Chart</h1></center>
            </div>
          </div>
          <div class="card-body">  
            <canvas id="myChart"  width="500px" height="200px"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctx = document.getElementById('myChart').getContext('2d');
              const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels : [
                    {% for sprint in sprints %}
                      "{{ sprint.descripcion }}",
                    {% endfor %}
                  ],
                  datasets: [{
                    label: "User Story Pendientes",
                    data : [          
                      {% for us in us_finalizados %}
                        {{ us }},
                      {% endfor %}],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                      ticks: {
                        stepSize: 1
                      },
                    }
                  }
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}