{% extends 'App/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Pagina Principal
              <div class="card-actions"></div>
            </div>
            <div class="card-body">
              <div class="jumbotron bg-white">
                <h1 class="display-4">Grupo 4</h1>
                <p class="lead">Sistema de Gestion de Proyectos Agiles</p>
                <hr class="my-4">
                <p>Pagina en construccion</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Siguiente is comming</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}