{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <form action="" method="post">
                {% csrf_token %}
                <select class="form-select" name="us" id="us">
                  <option value="0" selected>Añadir User Story: </option>
                  {% for us in user_story %}
                    <option value="{{us.id_us.id}}">{{us.id_us.nombre}}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="btn btn-success">Añadir</button>
              </form>
            </div>            
            <div class="card-body">   
              <div class="card-title">
                <h5>Proyecto: {{proyecto.nombre}}</h5>
              </div>           
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'error' %} 
                    <p style="color:red">{{message}}</p>
                  {% endif %}
                  {% if message.tags == 'success' %} 
                    <p style="color:green">{{message}}</p>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <table class="table">
                <thead>
                  <tr>
                    <td>Nombre</td>
                    <td>Descripcion</td>
                    <td>Prioridad</td>
                    <td>Sprint</td>
                    <td>Estado</td>
                    <td>Asignado</td>
                    <td>Accion</td>
                  </tr>
                </thead>
                <tbody>
                  {% for us in backlog %}
                    <tr>
                      <th scope="row"><a class="text-dark" href="{% url 'userstory' us.id_us.id %}">{{us.id_us.nombre}}</a></th>
                      <td>{{us.id_us.descripcion}}</td>
                      <td>{{us.prioridad}}</td>
                      <td>{{us.id_sprint.id}}</td>
                      <td>{{us.id_estado.descripcion}}</td>
                      <td>{{us.id_usuario.nombre}} {{us.id_usuario.apellido}}</td>
                      <td>
                        <a name="" id="" class="btn btn-danger" href="{% url 'esprint' us.id %}" role="button">Eliminar</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}