{% extends 'App/base.html' %}
{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h4 class="card-title">Sprints</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Proyecto</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for S in sprint %}
                <tr>
                    <td>{{ S.descripcion }}</td>
                    <td>{{ S.id_proyecto.nombre }}</td>
                    <td>{{ S.fecha_inicio }}</td>
                    <td>{{ S.fecha_fin }}</td>
                    <td>{{ S.id_estado_sprint.descripcion }}</td>
                    <td>


                        {% if modificar == True %}
                            <a name="" id="" class="btn btn-info" href="msprint/{{S.id}}" role="button">Modificar</a>
                        {% endif %}

                        {% if iniciar == True %}

                        <a name="" id="" class="btn btn-primary" href="{% url 'sprint' S.id %}" role="button">Backlog</a>
                        {% endif %}

                        {% if backlog == True %}
                        <a name="" id="" class="btn btn-success" href="{% url 'isprint' S.id %}" role="button">Iniciar</a>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}