{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div id="ui-view" style="opacity: 1;">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Modificar Permiso
              <div class="card-actions"></div>
            </div>
            <div class="card-body">              
              <form action="" method="post" style="margin-left: 300px;">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == 'error' %} 
                        <p style="color:red">{{message}}</p>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                  <div class="form-group col-md-7">
                    <label for="formGroupExampleInput">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required value="{{nombre}}">
                  </div>
                  <div class="form-group col-md-7">
                    <label for="formGroupExampleInput">Descripcion:</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" required value="{{descripcion}}">
                  </div>
                <a href="{% url 'permisos' %}" style="margin-left: 70px;" class="btn btn-link">Cancelar</a>
                <button type="submit" style="margin-left: 80px;" class="btn btn-primary">Guardar Cambios</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}