{% extends 'App/base.html' %}
{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
        {% if nuevo == True %}
            <a name="" id="" class="btn btn-success" href="{% url 'apermiso' %}" role="button">Agregar nuevo Permiso</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h4 class="card-title">Permisos</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Permiso in permisos %}
                <tr>
                    <td>{{ Permiso.id_formulario }}</td>
                    <td>{{ Permiso.nombre }}</td>
                    <td>{{ Permiso.descripcion }}</td>
                    <td>
                        {% if modificar == True %}
                            <a name="" id="" class="btn btn-info" href="{% url 'mpermiso' Permiso.nombre %}" role="button">Modificar</a>
                        {% endif %}

                        {% if eliminar == True %}
                            <a name="" id="" class="btn btn-danger" href="{% url 'bpermiso' Permiso.nombre 'baja' %}" role="button">Eliminar</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}