{% extends 'App/base.html' %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %} 
        <p style="color:green">{{message}}</p>
      {% endif %}
      {% if message.tags == 'error' %} 
        <p style="color:red">{{message}}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  <div class="card">
    <div class="card-header">
      {% if nuevo == True %}
        <a href="{% url 'aus' %}" class="btn btn-primary" >Crear User Story</a>
      {% endif %}
    </div>
    <div class="card-body">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Prioridad</th>
          <th scope="col">Sprint</th>
          <th scope="col">Estado</th>
          <th scope="col">Usuario</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for u in us %}
          <tr>
            <th scope="row"><a class="text-dark" href="{% url 'userstory' u.id %}">{{u.nombre}}</a></th>
            <td>{{u.descripcion}}</td>
            <td>{{u.prioridad}}</td>
            <td>{{u.id_sprint}}</td>
            <td>{{u.id_estado.descripcion}}</td>
            <td>{{u.id_usuario.nombre}} {{u.id_usuario.apellido}}</td>
            <td>{{u.fecha_creacion}}</td>
            <td>
            {% if modificar == True %}
              <a class="btn btn-info" href="mus/{{u.id}}">Modificar</a>
            {% endif %}

            {% if eliminar == True %}
              <a class="btn btn-danger" href="bus/{{u.id}}/baja">Eliminar</a>
            {% endif %}
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}