{% extends 'App/base.html' %}
{% load static %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == 'success' %} 
        <p style="color:green">{{message}}</p>
      {% endif %}
      {% if message.tags == 'error' %} 
        <p style="color:red">{{message}}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
  <a href="{% url 'aus' %}" style="margin-bottom: 20px; margin-left: 20px;" class="btn btn-primary">Crear User Story</a>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Sprint</th>
        <th scope="col">Estado</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha Creacion</th>
      </tr>
    </thead>
    <tbody>
      {% for u in us %}
      <tr>
        <th scope="row">{{u.nombre}}</th>
        <td>{{u.descripcion}}</td>
        <td>{{u.prioridad}}</td>
        <td>{{u.id_sprint}}</td>
        <td>{{u.id_estado.descripcion}}</td>
        <td>{{u.id_usuario}}</td>
        <td>{{u.fecha_creacion}}</td>
        <td><a href="mus/{{u.id}}">Modificar</a> <a href="bus/{{u.id}}/baja">Eliminar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}