{% extends 'App/base.html' %}
{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
        {% if nuevo == True %}
            <a name="" id="" class="btn btn-success" href="{% url 'ausuario' %}" role="button">Agregar nuevo Usuario</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th> 
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for Usuario in usuarios %}
                <tr>
                    <td>{{ Usuario.alias }}</td>
                    <td>{{ Usuario.email }}</td>
                    <td>{{ Usuario.nombre }}</td>
                    <td>{{ Usuario.apellido }}</td>
                    <td>
                        {% if modificar == True %}
                            <a name="" id="" class="btn btn-info" href="{% url 'musuario' Usuario.alias %}" role="button">Modificar</a>
                        {% endif %}

                        {% if eliminar == True %}
                            <a name="" id="" class="btn btn-danger" href="{% url 'busuario' Usuario.alias 'baja' %}" role="button">Eliminar</a>
                        {% endif %}

                        {% if rol == True %}
                            <a name="" id="" class="btn btn-warning" href="{% url 'usurol' Usuario.alias %}" role="button">Rol</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}