<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Iniciar</title>
</head>
<body>
    <div class="login">
        <h1 style="color:DarkSlateGray">Iniciar sesion</h1>
        <form action="/" method="post">
        {% csrf_token %}
            <label style="color:Tomato">Usuario</label><br>
            <input type="text" name="usuario" id="usuario"><br>
            <label>Contraseña</label><br>
            <input type="password" name="password" id="password"><br>
            <button type="submit">Iniciar Sesion</button>
        </form>
    </div>
</body>
</html>